<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data.mapper.UserMapperInter">
    <insert id="insertUser" parameterType="Map">
        insert into ${tableName} (id, pw, name, email, hp, birthday, photo, joinDay)
            value (#{id}, #{pw}, #{name}, #{email}, #{hp}, #{birthday}, #{photo}, now())
    </insert>
    <delete id="deleteUser" parameterType="Map">
        delete
        from ${tableName}
        where id = #{id}
    </delete>
    <select id="selectByID" parameterType="Map" resultType="UserDto">
        select *
        from ${tableName}
        where id = #{id}
    </select>
    <select id="checkID" parameterType="String" resultType="int">
        select count(*) + (select count(*) from m_user where id = #{searchID})
        from fm_user
        where id = #{searchID}
    </select>
    <select id="isLoginCheck" parameterType="String" resultType="int">
        select count(*) + (select count(*) from m_user where id = #{id} and pw = #{pw})
        from fm_user
        where id = #{id}
          and pw = #{pw}
    </select>
    <select id="getRandomUser" parameterType="String" resultType="UserDto">
        select *
        from ${tableName} as m
        where m.match = false
        order by rand()
        limit 1
    </select>

    <select id="userFindTableM" parameterType="String" resultType="int">
        select count(*)
        from m_user
        where id = #{id}
    </select>
    <select id="userFindTableFM" parameterType="String" resultType="int">
        select count(*)
        from fm_user
        where id = #{id}
    </select>
    <update id="userUpdateMatch" parameterType="Map">
        update ${tableName} as m
        set m.match = true
        where id = #{id}
    </update>
    <insert id="insertMatchData" parameterType="Map">
        insert into matching (m_id, fm_id, matching_date) value (#{m_id}, #{fm_id},now())
    </insert>
    <select id="userIsMatched" parameterType="Map" resultType="int">
        select count(*)
        from ${tableName}
        where id = #{id}
          and `match` = true
    </select>
</mapper>